<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Rest Assured API Test Suite" verbose="1" parallel="methods" thread-count="2">
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="User API Tests">
        <classes>
            <class name="com.automation.tests.UserAPITests"/>
        </classes>
    </test>
    
    <!-- Test Configuration -->
    <parameter name="environment" value="qa"/>
    <parameter name="browser.headless" value="true"/>
    <parameter name="retry.count" value="2"/>
    <parameter name="retry.interval" value="1000"/>
    
    <!-- Main Test Suite -->
    <test name="User API Tests" preserve-order="true">
        <parameter name="testType" value="api"/>
        <classes>
            <class name="com.automation.tests.UserAPITests">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testCreateUserWithInvalidData"/>
                    <include name="testGetUserById"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                    <include name="testGetUsersList"/>
                    <include name="testGetUsersListWithPagination"/>
                    <include name="testGetUserNotFound"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- Smoke Test Suite -->
    <test name="Smoke Tests" preserve-order="true">
        <parameter name="testType" value="smoke"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.automation.tests.UserAPITests">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testGetUserById"/>
                    <include name="testGetUsersList"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- Regression Test Suite -->
    <test name="Regression Tests" preserve-order="true">
        <parameter name="testType" value="regression"/>
        <classes>
            <class name="com.automation.tests.UserAPITests"/>
        </classes>
    </test>
    
</suite> 